<ul>
  <%if user_signed_in? %>
    <li><%=current_user.email%></li>
    <li><%=current_user.name%></li>
    <li><%=current_user.nickname%></li>
    <li><%=current_user.image%></li>
    <li><%=current_user.location%></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
  <%else%>
    <li><%= link_to "ログイン", new_user_session_path %></li>
  <%end%>
</ul>
